# Database
# Для dev окружения (docker-compose.dev.yml) используйте порт 27018
# Для prod окружения (docker-compose.yml) используйте порт 27017
DATABASE_URL="mongodb://admin:password@localhost:27018/template?authSource=admin"

# Server
PORT=3001
NODE_ENV=development

